<%# CSS・・・assets/stylesheets/message.css %>
<%= render "share/header" %>
<div class='message_top'>
  <div class='room_habit_list'>
    <div class='habit_list' >
    </div>
    <div class='room_list_bottom'>
    <%= link_to "/rooms/#{@room.id}/habits/new", class: "link" do %>
    <div class='resist_btn'>
    登録
    </div>
    <% end %>
    </div>
  </div>
  <div class='room_habit_list'>
    <div class='habit_list'>
    </div>
  </div>
</div>
<div class='message_middle'>
  <%= render partial: 'message', collection: @messages %>
</div>
<div class='message_bottom'>
  <div class='message_input'>
    <%= form_with model: [@room, @message],local: true do |f| %>
    <div class='message_form'>
    <%= f.text_field :comment, class: 'comment_form' %>
    </div>
    <%= f.submit 'SEND', class: 'message_send' %>
    <% end %>
  </div>
</div>