<%# CSS・・・assets/stylesheets/inputform.css %>
<%= render "share/header" %>
<div class='main_account'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div>
    <div class='account_error'>
    <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <div class='detail_account_sign_up'>
      <div class='account_side'>
        <div class='login'>Sign up</div>
        <%= render "devise/shared/links" %>
      </div>

      <div class='account_main'>
        <div class='account_input'>
          <div class="field">
          <div>ニックネーム</div>
          <%= f.text_field :nickname, autofocus: true, class: "input_form" %>
          </div>
        </div>

        <div class='account_input'>
          <div class="field">
          <div>メールアドレス</div>
          <%= f.email_field :email, autocomplete: "email", class: "input_form" %>
          </div>
        </div>

        <div class='account_input'>
          <div class="field">
          <div>Password</div>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" ,class: "input_form" %>
          </div>
        </div>

        <div class='account_input'>
          <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input_form"  %>
          </div>
        </div>

        <div class="actions">
        <%= f.submit "Sign up", class: "login_btn" %>
        </div>
       <% end %>
      </div>
    </div>
  </div>
</div>