<div class='habit_list user_habit_list'>
  <div class='habit_list_top'>
    <div class='habit_list_left_btn'>
      <div class='habit_title'>
      <%= list.title %>
      </div>
    </div>
    <div class='habit_list_right_btn'>
      <div class='habit_list_edit_delete'>
        <div class='habit_edit_delete_btn'>
        編集
        </div>
      </div>
      <div class='habit_list_edit_delete'>
        <div class='habit_edit_delete_btn'>
        削除
        </div>
      </div>
    </div>
  </div>
  <div class='habit_list_bottom'>
  <ul>
  <li class='habit_item'><%= list.item1 %></li>
  <li class='habit_item'><%= list.item2 %></li>
  <li class='habit_item'><%= list.item3 %></li>
  <li class='habit_item'><%= list.item4 %></li>
  <li class='habit_item'><%= list.item5 %></li>
  </ul>
  </div>
</div>
