<%# CSS・・・assets/stylesheets/inputform.css %>
<%= render "share/header" %>
<div class='room-main'>
  <div>
    <div class='room-error'>
    <%# エラーメッセージを記述する %>
    </div>
      <div class='detail_new_room'>
        <div class='new_room_side'>
          <div class='room_create'>グループ作成</div>
        </div>
        <div class='new_room_main'>
          <div class='room_input'>
            <%= form_with  url: "#", local: true do |f| %>
            <div class="field">
            <div>グループ名</div>
            <%= f.email_field "hoge", autofocus: true, autocomplete: "email", class: "input_form" %>
            </div>
          </div>
          <div class='room_input'>
            <div class="field">
            <div>メンバー</div>
            <%= f.password_field "hoge", autocomplete: "current-password", class: "input_form" %>
            </div>
          </div>

            <%= f.submit "作成" ,class: "room_btn" %>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div>