<%# CSS・・・assets/stylesheets/inputform.css %>
<%= render "share/header" %>
<div class='main_account'>
  <div>
    <div class='room-error'>
    </div>
    <div class='detail_new_habit'>
      <div class='new_room_side'>
        <div class='room_create'>
        リスト登録
        </div>
          <div class='habit_resist_explantion'>
          項目を1つ以上登録してください
          </div>
      </div>
      <div class='new_room_main'>
        <%= form_with url: "#", local: true do |f| %>
        <div class='room_input'>
          <div class="field">
            <div>タイトル</div>
            <%= f.text_field 'hoge', autofocus: true, autocomplete: "name", placeholder: "リストのタイトルを入力してください",class: "input_form" %>
          </div>
        </div>
        <div class='room_input'>
          <div class="field">
            <div>項目①</div>
            <%= f.text_field 'hoge', autocomplete: "name", placeholder: "項目を入力してください",class: "input_form" %>
          </div>
        </div>
        <div class='room_input'>
          <div class="field">
            <div>項目②</div>
            <%= f.text_field 'hoge', autocomplete: "name", placeholder: "項目を入力してください",class: "input_form" %>
          </div>
        </div>
        <div class='room_input'>
          <div class="field">
            <div>項目③</div>
            <%= f.text_field 'hoge', autocomplete: "name", placeholder: "項目を入力してください",class: "input_form" %>
          </div>
        </div>
        <div class='room_input'>
          <div class="field">
            <div>項目④</div>
            <%= f.text_field 'hoge', autocomplete: "name", placeholder: "項目を入力してください",class: "input_form" %>
          </div>
        </div>
        <div class='room_input'>
          <div class="field">
            <div>項目⑤</div>
            <%= f.text_field 'hoge', autocomplete: "name", placeholder: "項目を入力してください",class: "input_form" %>
          </div>
        </div>
          <%= f.submit "登録" ,class: "room_btn" %>
        <%end%>
      </div>
    </div>
  </div>
</div>